{% extends 'blog/base.html' %}

{% block content %}
<div style="
	width: 100%;
	justify-content: center;
	display: flex;
	padding-bottom: 2.5rem;">

	<a href="{% url 'post_list' %}" class="back-btn accent-btn">
		<svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M19 12H5M12 19l-7-7 7-7"/>
		</svg>
		Назад
	</a>
</div>

<form method="post" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>

    <div>
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>

	<div>
        {{ form.post_image.label_tag }}
        {{ form.post_image }}
    </div>

    <button type="submit" class="submit-btn">Опубликовать</button>
</form>
{% endblock %}